/************************ Reset ***********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: "Lato-Regular";
}

video {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: inline-block;
}

a {
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
}

object {
    pointer-events: none;
}

li {
    -webkit-list-style-type: none;
    -moz-list-style-type: none;
    -ms-list-style-type: none;
    -o-list-style-type: none;
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

.banner-video-container {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
}


.video-wrap {
    position: relative;
}

.video-wrap video {
    position: absolute;
    top: 0;
    left: 0;
}

.loop-video {
    display: none;
}

.page-banner h1 {
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 67px;
    transform: translateX(-50%);
    z-index: 100000;
}

/************************ Helpers ***********************/
.border-red {
    border: 1px solid red;
}

.border-green {
    border: 1px solid green;
}

.border-blue {
    border: 1px solid blue;
}


/************************ Font Imports ***********************/
@font-face {
    font-family: 'Avenir-Regular';
    src: url('../fonts/Avenir-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Avenir-Regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Avenir-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Avenir-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Avenir-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Avenir-Regular.svg#Avenir-Regular') format('svg');
    /* Legacy iOS */
}


@font-face {
    font-family: 'Avenir-Bold';
    src: url('../fonts/Avenir-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Avenir-Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Avenir-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Avenir-Bold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Avenir-Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Avenir-Bold.svg#Avenir-Bold') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Avenir-Demi';
    src: url('../fonts/Avenir-Demi.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Avenir-Demi.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Avenir-Demi.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Avenir-Demi.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Avenir-Demi.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Avenir-Demi.svg#Avenir-Bold') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Lato-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Lato-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Lato-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Lato-Bold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Lato-Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    /* Legacy iOS */
}

/************************ Font Sizes & Colors***********************/
.f-45 {
    font-size: 45px;
}

.f-42 {
    font-size: 42px;
}

.f-30 {
    font-size: 30px;
}

.f-25 {
    font-size: 25px;
}

.f-20 {
    font-size: 20px;
}

.f-24 {
    font-size: 24px;
}

.f-18 {
    font-size: 18px;
}

.f-14 {
    font-size: 14px;
}

.f-010917 {
    color: #010917;
}

.f-f7931d {
    color: #f7931d;
}

.f-66b8d3 {
    color: #66b8d3;
}

.f-fff {
    color: #fff;
}

.f-000 {
    color: #000;
}

.f-02173f {
    color: #02173f;
}

.f-66b8d3 {
    color: #66b8d3;
}

.f-1e1e38 {
    color: #1e1e38;
}

.f-f15a2d {
    color: #f15a2d;
}

.f-2c0d08 {
    color: #2c0d08;
}

/************************ Backgrounds ***********************/
.b-fff {
    background: #fff;
}

.b-f7931d {
    background: #f7931d;
}

.b-02173f {
    background: #02173f;
}

.b-25264c {
    background: #25264c;
}

.b-1e1e38 {
    background: #1e1e38;
}

.b-66b8d3 {
    background: #66b8d3;
}

.b-fbfbfb {
    background: #fbfbfb;
}

.b-58acc8 {
    background: #58acc8;
}

.b-1a617e {
    background: #1a617e;
}

.b-beaf9a {
    background: #beaf9a;
}

.b-d7388a {
    background: #d7388a;
}

.b-a35d31 {
    background: #a35d31;
}

.b-d65031 {
    background: #d65031;
}

.b-6ea1be {
    background: #6ea1be;
}

.text-cente

/************************ JS Triggers ***********************/
.display {
    visibility: visible;
    opacity: 1;
}

.blur {
    filter: blur(2px);
    pointer-events: none;
}

.ip-active {
    top: -18px !important;
    font-size: 14px !important;
    color: #636363 !important;
}

.reveal-text {
    position: relative;
    animation: reveal 0.8s linear;
}

.reveal-content {
    position: relative;
    animation: reveal_content 0.8s linear;
}

.design-animate {
    position: relative;
    animation: design_animate 0.5s linear;
}

.develop-animate {
    position: relative;
    animation: develop_animate 1s linear;
    animation-delay: 0.5s;
}

.deploy-animate {
    position: relative;
    animation: deploy_animate 1.5s linear;
    animation-delay: 1s;
}

/************************ Main Rules ***********************/
/* section .container {
    padding-top: 80px;
} */

header {
    height: 100px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: all 0.5s;
}

header .container {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

header .container > div {
    flex: 1;
}


header .container .nav-section {
    margin-left: auto;
}

header .container .page-title-section {
    text-align: center;
}
header .container .page-title-section h1 {
    font-size: 1.5em;
}

.page-banner {
    position: relative;
}

.container {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.f-container {
    width: 100%;
}

.txt-title {
    font-size: 45px;
    font-family: "Avenir-Bold";
    line-height: 67px;
    letter-spacing: 0.02em;
    opacity: 0;
    transition: all 1.2s;
}

.txt-content {
    font-size: 20px;
    font-family: "Lato-Regular";
    line-height: 28px;
    margin-top: -20px;
    opacity: 0;
}

.txt-content p:not(:first-child) {
    margin-top: 25px;
}

.btn {
    border: 1px solid white;
    margin-top: 20px;
    display: block;
    font-family: "Lato-Regular";
    font-size: 16px;
    width: 160px;
    height: 42px;
    text-align: center;
    padding: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn-light {
    background-image: url(../img/strip-light.png);
    background-position: 55%;
    transition: all 0.7s;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn-light:hover {
    background-position: 4%;
    color: #010917;
}

.btn-dark {
    background-image: url(../img/strip-dark.png);
    background-position: 55%;
    transition: all 0.7s;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn-dark:hover {
    background-position: 4%;
    color: #010917;
}

.hidden-res {
    display: block;
}

.visible-res {
    display: none;
}

#fullpage>* {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
}

.text-center {
    text-align: center;
}
.text-uppercase {
    text-transform: uppercase;
}

/***************************************

	HomePage Styles 

***************************************/
/************************ Top ***********************/
#section0 {
    background-image: -moz-radial-gradient(50% 50%, circle closest-side, rgb(17, 18, 53) 0%, rgb(28, 30, 71) 0%, rgb(13, 11, 15) 309%);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, rgb(17, 18, 53) 0%, rgb(28, 30, 71) 0%, rgb(13, 11, 15) 309%);
    background-image: -ms-radial-gradient(50% 50%, circle closest-side, rgb(17, 18, 53) 0%, rgb(28, 30, 71) 0%, rgb(13, 11, 15) 309%);
    background-repeat: repeat;
    position: relative;
}

header .container {
    overflow: hidden;
    position: relative;
}

.logo-section {
    width: 30%;
    float: left;
    height: 100%;
    vertical-align: middle;
    position: relative;
}

.logo-section a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
}

.fc-anchor {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    font-family: "Lato-Bold";
    font-size: 15px;
    letter-spacing: 0.1em;
    padding-right: 30px;
}

.fc-anchor img {
    margin-right: 10px;
    -webkit-animation: gear_rotate 2s linear infinite;
    -o-animation: gear_rotate 2s linear infinite;
    animation: gear_rotate 2s linear infinite;
}

.fc-anchor:hover span {
    -webkit-animation: bulb_blink 2s linear infinite;
    -o-animation: bulb_blink 2s linear infinite;
    animation: bulb_blink 2s linear infinite;
}

.nav-section {
    width: 30%;
    float: right;
    height: 100%;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
}

.hamburger-menu {
    height: 50px;
    cursor: pointer;
    right: 0;
    z-index: 10000;
}

.overlay {
    position: fixed;
    background: rgba(132, 200, 219, 1);
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .55s, visibility .55s, height .05s;
    overflow: hidden;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.overlay nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    width: 100%;
}

nav.overlay-menu .overlay-col {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

nav.overlay-menu .overlay-col .col-title {
    margin-bottom: 20px;
    color: white;
}
nav.overlay-menu .overlay-col .col-title a {
    color: white;
}

nav.overlay-menu .overlay-col ul li {
    margin-bottom: 10px;
}

nav.overlay-menu .overlay-col ul li a {
    color: #1e1e38;
    font-size: 20px;
}

nav.overlay-menu .overlay-col .social-container a {
    margin-right: 10px;
}

nav.overlay-menu .overlay-col .social-container a:last-child {
    margin-right: 0px;
}

.bar,
.bar:after,
.bar:before {
    width: 35px;
    height: 3px;
}

.bar {
    position: relative;
    transform: translateY(25px);
    background: #010917;
    transition: all 0ms 300ms;
}

.bar.animate {
    background: rgba(255, 255, 255, 0);
}

.bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background: #010917;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background: #010917;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/************************ Keyframes ***********************/
@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes reveal_content {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@-webkit-keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 0;
    }
}

@-moz-keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 0;
    }
}

@-ms-keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 0;
    }
}

@-o-keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 0;
    }
}

@keyframes animate {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 0;
    }
}

/** Banner Animation Keyframes **/
@-webkit-keyframes digit_blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes digit_blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes digit_blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes digit_blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes bulb_blink {
    0% {
        opacity: 1;
        stroke: #fff;
    }

    50% {
        opacity: 0;
        stroke: #fff;
    }

    100% {
        opacity: 1;
        stroke: #fff;
    }
}

@-o-keyframes bulb_blink {
    0% {
        opacity: 1;
        stroke: #fff;
    }

    50% {
        opacity: 0;
        stroke: #fff;
    }

    100% {
        opacity: 1;
        stroke: #fff;
    }
}

@-moz-keyframes bulb_blink {
    0% {
        opacity: 1;
        stroke: #fff;
    }

    50% {
        opacity: 0;
        stroke: #fff;
    }

    100% {
        opacity: 1;
        stroke: #fff;
    }
}

@keyframes bulb_blink {
    0% {
        opacity: 1;
        stroke: #fff;
    }

    50% {
        opacity: 0;
        stroke: #fff;
    }

    100% {
        opacity: 1;
        stroke: #fff;
    }
}

@-webkit-keyframes gear_rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-o-keyframes gear_rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes gear_rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes gear_rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes gear_rotate_2 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@-o-keyframes gear_rotate_2 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@-moz-keyframes gear_rotate_2 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes gear_rotate_2 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes liquid_move {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@-o-keyframes liquid_move {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@-moz-keyframes liquid_move {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes liquid_move {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes bug_move {
    0% {
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -o-transform: translateY(25px);
        transform: translateY(25px);
    }

    100% {
        -o-transform: translateY(25px);
        transform: translateY(0);
    }
}

@-o-keyframes bug_move {
    0% {
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -o-transform: translateY(25px);
        transform: translateY(25px);
    }

    100% {
        -o-transform: translateY(25px);
        transform: translateY(0);
    }
}

@-moz-keyframes bug_move {
    0% {
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -o-transform: translateY(25px);
        transform: translateY(25px);
    }

    100% {
        -o-transform: translateY(25px);
        transform: translateY(0);
    }
}

@keyframes bug_move {
    0% {
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -o-transform: translateY(25px);
        transform: translateY(25px);
    }

    100% {
        -o-transform: translateY(25px);
        transform: translateY(0);
    }
}

@keyframes search_bar {
    0% {
        transform: scaleX(0);
    }

    50% {
        transform: scaleX(1.5);
    }

    100% {
        transform: scaleX(0);
    }
}

@keyframes magnify {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.9);
    }
}

@keyframes crane_string_move {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(2.2);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes crane_move {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes clock_tick {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes design_animate {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes develop_animate {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes deploy_animate {
    from {
        opacity: 0;
        transform: translateY(-60px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.inner-page header {
    position: absolute;
}

.inner-page .bar,
.inner-page .bar:before,
.inner-page .bar:after {
    background: white;
}

.inner-page .bar.animate {
    background: none;
}

.page-banner {
    background: #715aa9;
    /* min-height: 700px; */
    /* min-height: 100vh; */
}

.about-description, .services-description, .projects-description  {
    padding-top: 60px;
    padding-bottom: 60px;
}

/** BOOTSTRAP 4 **/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.order-first {
    order: -1;
}

.order-last {
    order: 13;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

.offset-1 {
    margin-left: 8.33333%;
}

.offset-2 {
    margin-left: 16.66667%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.33333%;
}

.offset-5 {
    margin-left: 41.66667%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.33333%;
}

.offset-8 {
    margin-left: 66.66667%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.33333%;
}

.offset-11 {
    margin-left: 91.66667%;
}

@media (min-width: 576px) {
    .col-sm {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-sm-first {
        order: -1;
    }

    .order-sm-last {
        order: 13;
    }

    .order-sm-0 {
        order: 0;
    }

    .order-sm-1 {
        order: 1;
    }

    .order-sm-2 {
        order: 2;
    }

    .order-sm-3 {
        order: 3;
    }

    .order-sm-4 {
        order: 4;
    }

    .order-sm-5 {
        order: 5;
    }

    .order-sm-6 {
        order: 6;
    }

    .order-sm-7 {
        order: 7;
    }

    .order-sm-8 {
        order: 8;
    }

    .order-sm-9 {
        order: 9;
    }

    .order-sm-10 {
        order: 10;
    }

    .order-sm-11 {
        order: 11;
    }

    .order-sm-12 {
        order: 12;
    }

    .offset-sm-0 {
        margin-left: 0;
    }

    .offset-sm-1 {
        margin-left: 8.33333%;
    }

    .offset-sm-2 {
        margin-left: 16.66667%;
    }

    .offset-sm-3 {
        margin-left: 25%;
    }

    .offset-sm-4 {
        margin-left: 33.33333%;
    }

    .offset-sm-5 {
        margin-left: 41.66667%;
    }

    .offset-sm-6 {
        margin-left: 50%;
    }

    .offset-sm-7 {
        margin-left: 58.33333%;
    }

    .offset-sm-8 {
        margin-left: 66.66667%;
    }

    .offset-sm-9 {
        margin-left: 75%;
    }

    .offset-sm-10 {
        margin-left: 83.33333%;
    }

    .offset-sm-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 768px) {
    .col-md {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-md-first {
        order: -1;
    }

    .order-md-last {
        order: 13;
    }

    .order-md-0 {
        order: 0;
    }

    .order-md-1 {
        order: 1;
    }

    .order-md-2 {
        order: 2;
    }

    .order-md-3 {
        order: 3;
    }

    .order-md-4 {
        order: 4;
    }

    .order-md-5 {
        order: 5;
    }

    .order-md-6 {
        order: 6;
    }

    .order-md-7 {
        order: 7;
    }

    .order-md-8 {
        order: 8;
    }

    .order-md-9 {
        order: 9;
    }

    .order-md-10 {
        order: 10;
    }

    .order-md-11 {
        order: 11;
    }

    .order-md-12 {
        order: 12;
    }

    .offset-md-0 {
        margin-left: 0;
    }

    .offset-md-1 {
        margin-left: 8.33333%;
    }

    .offset-md-2 {
        margin-left: 16.66667%;
    }

    .offset-md-3 {
        margin-left: 25%;
    }

    .offset-md-4 {
        margin-left: 33.33333%;
    }

    .offset-md-5 {
        margin-left: 41.66667%;
    }

    .offset-md-6 {
        margin-left: 50%;
    }

    .offset-md-7 {
        margin-left: 58.33333%;
    }

    .offset-md-8 {
        margin-left: 66.66667%;
    }

    .offset-md-9 {
        margin-left: 75%;
    }

    .offset-md-10 {
        margin-left: 83.33333%;
    }

    .offset-md-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 992px) {
    .col-lg {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-lg-first {
        order: -1;
    }

    .order-lg-last {
        order: 13;
    }

    .order-lg-0 {
        order: 0;
    }

    .order-lg-1 {
        order: 1;
    }

    .order-lg-2 {
        order: 2;
    }

    .order-lg-3 {
        order: 3;
    }

    .order-lg-4 {
        order: 4;
    }

    .order-lg-5 {
        order: 5;
    }

    .order-lg-6 {
        order: 6;
    }

    .order-lg-7 {
        order: 7;
    }

    .order-lg-8 {
        order: 8;
    }

    .order-lg-9 {
        order: 9;
    }

    .order-lg-10 {
        order: 10;
    }

    .order-lg-11 {
        order: 11;
    }

    .order-lg-12 {
        order: 12;
    }

    .offset-lg-0 {
        margin-left: 0;
    }

    .offset-lg-1 {
        margin-left: 8.33333%;
    }

    .offset-lg-2 {
        margin-left: 16.66667%;
    }

    .offset-lg-3 {
        margin-left: 25%;
    }

    .offset-lg-4 {
        margin-left: 33.33333%;
    }

    .offset-lg-5 {
        margin-left: 41.66667%;
    }

    .offset-lg-6 {
        margin-left: 50%;
    }

    .offset-lg-7 {
        margin-left: 58.33333%;
    }

    .offset-lg-8 {
        margin-left: 66.66667%;
    }

    .offset-lg-9 {
        margin-left: 75%;
    }

    .offset-lg-10 {
        margin-left: 83.33333%;
    }

    .offset-lg-11 {
        margin-left: 91.66667%;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .col-xl-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-xl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-xl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-xl-first {
        order: -1;
    }

    .order-xl-last {
        order: 13;
    }

    .order-xl-0 {
        order: 0;
    }

    .order-xl-1 {
        order: 1;
    }

    .order-xl-2 {
        order: 2;
    }

    .order-xl-3 {
        order: 3;
    }

    .order-xl-4 {
        order: 4;
    }

    .order-xl-5 {
        order: 5;
    }

    .order-xl-6 {
        order: 6;
    }

    .order-xl-7 {
        order: 7;
    }

    .order-xl-8 {
        order: 8;
    }

    .order-xl-9 {
        order: 9;
    }

    .order-xl-10 {
        order: 10;
    }

    .order-xl-11 {
        order: 11;
    }

    .order-xl-12 {
        order: 12;
    }

    .offset-xl-0 {
        margin-left: 0;
    }

    .offset-xl-1 {
        margin-left: 8.33333%;
    }

    .offset-xl-2 {
        margin-left: 16.66667%;
    }

    .offset-xl-3 {
        margin-left: 25%;
    }

    .offset-xl-4 {
        margin-left: 33.33333%;
    }

    .offset-xl-5 {
        margin-left: 41.66667%;
    }

    .offset-xl-6 {
        margin-left: 50%;
    }

    .offset-xl-7 {
        margin-left: 58.33333%;
    }

    .offset-xl-8 {
        margin-left: 66.66667%;
    }

    .offset-xl-9 {
        margin-left: 75%;
    }

    .offset-xl-10 {
        margin-left: 83.33333%;
    }

    .offset-xl-11 {
        margin-left: 91.66667%;
    }
}

.d-none {
    display: none !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.d-table {
    display: table !important;
}

.d-table-row {
    display: table-row !important;
}

.d-table-cell {
    display: table-cell !important;
}

.d-flex {
    display: flex !important;
}

.d-inline-flex {
    display: inline-flex !important;
}

@media (min-width: 576px) {
    .d-sm-none {
        display: none !important;
    }

    .d-sm-inline {
        display: inline !important;
    }

    .d-sm-inline-block {
        display: inline-block !important;
    }

    .d-sm-block {
        display: block !important;
    }

    .d-sm-table {
        display: table !important;
    }

    .d-sm-table-row {
        display: table-row !important;
    }

    .d-sm-table-cell {
        display: table-cell !important;
    }

    .d-sm-flex {
        display: flex !important;
    }

    .d-sm-inline-flex {
        display: inline-flex !important;
    }
}

@media (min-width: 768px) {
    .d-md-none {
        display: none !important;
    }

    .d-md-inline {
        display: inline !important;
    }

    .d-md-inline-block {
        display: inline-block !important;
    }

    .d-md-block {
        display: block !important;
    }

    .d-md-table {
        display: table !important;
    }

    .d-md-table-row {
        display: table-row !important;
    }

    .d-md-table-cell {
        display: table-cell !important;
    }

    .d-md-flex {
        display: flex !important;
    }

    .d-md-inline-flex {
        display: inline-flex !important;
    }
}

@media (min-width: 992px) {
    .d-lg-none {
        display: none !important;
    }

    .d-lg-inline {
        display: inline !important;
    }

    .d-lg-inline-block {
        display: inline-block !important;
    }

    .d-lg-block {
        display: block !important;
    }

    .d-lg-table {
        display: table !important;
    }

    .d-lg-table-row {
        display: table-row !important;
    }

    .d-lg-table-cell {
        display: table-cell !important;
    }

    .d-lg-flex {
        display: flex !important;
    }

    .d-lg-inline-flex {
        display: inline-flex !important;
    }
}

@media (min-width: 1200px) {
    .d-xl-none {
        display: none !important;
    }

    .d-xl-inline {
        display: inline !important;
    }

    .d-xl-inline-block {
        display: inline-block !important;
    }

    .d-xl-block {
        display: block !important;
    }

    .d-xl-table {
        display: table !important;
    }

    .d-xl-table-row {
        display: table-row !important;
    }

    .d-xl-table-cell {
        display: table-cell !important;
    }

    .d-xl-flex {
        display: flex !important;
    }

    .d-xl-inline-flex {
        display: inline-flex !important;
    }
}

@media print {
    .d-print-none {
        display: none !important;
    }

    .d-print-inline {
        display: inline !important;
    }

    .d-print-inline-block {
        display: inline-block !important;
    }

    .d-print-block {
        display: block !important;
    }

    .d-print-table {
        display: table !important;
    }

    .d-print-table-row {
        display: table-row !important;
    }

    .d-print-table-cell {
        display: table-cell !important;
    }

    .d-print-flex {
        display: flex !important;
    }

    .d-print-inline-flex {
        display: inline-flex !important;
    }
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-row-reverse {
    flex-direction: row-reverse !important;
}

.flex-column-reverse {
    flex-direction: column-reverse !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse !important;
}

.justify-content-start {
    justify-content: flex-start !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.align-items-start {
    align-items: flex-start !important;
}

.align-items-end {
    align-items: flex-end !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-baseline {
    align-items: baseline !important;
}

.align-items-stretch {
    align-items: stretch !important;
}

.align-content-start {
    align-content: flex-start !important;
}

.align-content-end {
    align-content: flex-end !important;
}

.align-content-center {
    align-content: center !important;
}

.align-content-between {
    align-content: space-between !important;
}

.align-content-around {
    align-content: space-around !important;
}

.align-content-stretch {
    align-content: stretch !important;
}

.align-self-auto {
    align-self: auto !important;
}

.align-self-start {
    align-self: flex-start !important;
}

.align-self-end {
    align-self: flex-end !important;
}

.align-self-center {
    align-self: center !important;
}

.align-self-baseline {
    align-self: baseline !important;
}

.align-self-stretch {
    align-self: stretch !important;
}

@media (min-width: 576px) {
    .flex-sm-row {
        flex-direction: row !important;
    }

    .flex-sm-column {
        flex-direction: column !important;
    }

    .flex-sm-row-reverse {
        flex-direction: row-reverse !important;
    }

    .flex-sm-column-reverse {
        flex-direction: column-reverse !important;
    }

    .flex-sm-wrap {
        flex-wrap: wrap !important;
    }

    .flex-sm-nowrap {
        flex-wrap: nowrap !important;
    }

    .flex-sm-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .justify-content-sm-start {
        justify-content: flex-start !important;
    }

    .justify-content-sm-end {
        justify-content: flex-end !important;
    }

    .justify-content-sm-center {
        justify-content: center !important;
    }

    .justify-content-sm-between {
        justify-content: space-between !important;
    }

    .justify-content-sm-around {
        justify-content: space-around !important;
    }

    .align-items-sm-start {
        align-items: flex-start !important;
    }

    .align-items-sm-end {
        align-items: flex-end !important;
    }

    .align-items-sm-center {
        align-items: center !important;
    }

    .align-items-sm-baseline {
        align-items: baseline !important;
    }

    .align-items-sm-stretch {
        align-items: stretch !important;
    }

    .align-content-sm-start {
        align-content: flex-start !important;
    }

    .align-content-sm-end {
        align-content: flex-end !important;
    }

    .align-content-sm-center {
        align-content: center !important;
    }

    .align-content-sm-between {
        align-content: space-between !important;
    }

    .align-content-sm-around {
        align-content: space-around !important;
    }

    .align-content-sm-stretch {
        align-content: stretch !important;
    }

    .align-self-sm-auto {
        align-self: auto !important;
    }

    .align-self-sm-start {
        align-self: flex-start !important;
    }

    .align-self-sm-end {
        align-self: flex-end !important;
    }

    .align-self-sm-center {
        align-self: center !important;
    }

    .align-self-sm-baseline {
        align-self: baseline !important;
    }

    .align-self-sm-stretch {
        align-self: stretch !important;
    }
}

@media (min-width: 768px) {
    .flex-md-row {
        flex-direction: row !important;
    }

    .flex-md-column {
        flex-direction: column !important;
    }

    .flex-md-row-reverse {
        flex-direction: row-reverse !important;
    }

    .flex-md-column-reverse {
        flex-direction: column-reverse !important;
    }

    .flex-md-wrap {
        flex-wrap: wrap !important;
    }

    .flex-md-nowrap {
        flex-wrap: nowrap !important;
    }

    .flex-md-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .justify-content-md-start {
        justify-content: flex-start !important;
    }

    .justify-content-md-end {
        justify-content: flex-end !important;
    }

    .justify-content-md-center {
        justify-content: center !important;
    }

    .justify-content-md-between {
        justify-content: space-between !important;
    }

    .justify-content-md-around {
        justify-content: space-around !important;
    }

    .align-items-md-start {
        align-items: flex-start !important;
    }

    .align-items-md-end {
        align-items: flex-end !important;
    }

    .align-items-md-center {
        align-items: center !important;
    }

    .align-items-md-baseline {
        align-items: baseline !important;
    }

    .align-items-md-stretch {
        align-items: stretch !important;
    }

    .align-content-md-start {
        align-content: flex-start !important;
    }

    .align-content-md-end {
        align-content: flex-end !important;
    }

    .align-content-md-center {
        align-content: center !important;
    }

    .align-content-md-between {
        align-content: space-between !important;
    }

    .align-content-md-around {
        align-content: space-around !important;
    }

    .align-content-md-stretch {
        align-content: stretch !important;
    }

    .align-self-md-auto {
        align-self: auto !important;
    }

    .align-self-md-start {
        align-self: flex-start !important;
    }

    .align-self-md-end {
        align-self: flex-end !important;
    }

    .align-self-md-center {
        align-self: center !important;
    }

    .align-self-md-baseline {
        align-self: baseline !important;
    }

    .align-self-md-stretch {
        align-self: stretch !important;
    }
}

@media (min-width: 992px) {
    .flex-lg-row {
        flex-direction: row !important;
    }

    .flex-lg-column {
        flex-direction: column !important;
    }

    .flex-lg-row-reverse {
        flex-direction: row-reverse !important;
    }

    .flex-lg-column-reverse {
        flex-direction: column-reverse !important;
    }

    .flex-lg-wrap {
        flex-wrap: wrap !important;
    }

    .flex-lg-nowrap {
        flex-wrap: nowrap !important;
    }

    .flex-lg-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .justify-content-lg-start {
        justify-content: flex-start !important;
    }

    .justify-content-lg-end {
        justify-content: flex-end !important;
    }

    .justify-content-lg-center {
        justify-content: center !important;
    }

    .justify-content-lg-between {
        justify-content: space-between !important;
    }

    .justify-content-lg-around {
        justify-content: space-around !important;
    }

    .align-items-lg-start {
        align-items: flex-start !important;
    }

    .align-items-lg-end {
        align-items: flex-end !important;
    }

    .align-items-lg-center {
        align-items: center !important;
    }

    .align-items-lg-baseline {
        align-items: baseline !important;
    }

    .align-items-lg-stretch {
        align-items: stretch !important;
    }

    .align-content-lg-start {
        align-content: flex-start !important;
    }

    .align-content-lg-end {
        align-content: flex-end !important;
    }

    .align-content-lg-center {
        align-content: center !important;
    }

    .align-content-lg-between {
        align-content: space-between !important;
    }

    .align-content-lg-around {
        align-content: space-around !important;
    }

    .align-content-lg-stretch {
        align-content: stretch !important;
    }

    .align-self-lg-auto {
        align-self: auto !important;
    }

    .align-self-lg-start {
        align-self: flex-start !important;
    }

    .align-self-lg-end {
        align-self: flex-end !important;
    }

    .align-self-lg-center {
        align-self: center !important;
    }

    .align-self-lg-baseline {
        align-self: baseline !important;
    }

    .align-self-lg-stretch {
        align-self: stretch !important;
    }
}

@media (min-width: 1200px) {
    .flex-xl-row {
        flex-direction: row !important;
    }

    .flex-xl-column {
        flex-direction: column !important;
    }

    .flex-xl-row-reverse {
        flex-direction: row-reverse !important;
    }

    .flex-xl-column-reverse {
        flex-direction: column-reverse !important;
    }

    .flex-xl-wrap {
        flex-wrap: wrap !important;
    }

    .flex-xl-nowrap {
        flex-wrap: nowrap !important;
    }

    .flex-xl-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .justify-content-xl-start {
        justify-content: flex-start !important;
    }

    .justify-content-xl-end {
        justify-content: flex-end !important;
    }

    .justify-content-xl-center {
        justify-content: center !important;
    }

    .justify-content-xl-between {
        justify-content: space-between !important;
    }

    .justify-content-xl-around {
        justify-content: space-around !important;
    }

    .align-items-xl-start {
        align-items: flex-start !important;
    }

    .align-items-xl-end {
        align-items: flex-end !important;
    }

    .align-items-xl-center {
        align-items: center !important;
    }

    .align-items-xl-baseline {
        align-items: baseline !important;
    }

    .align-items-xl-stretch {
        align-items: stretch !important;
    }

    .align-content-xl-start {
        align-content: flex-start !important;
    }

    .align-content-xl-end {
        align-content: flex-end !important;
    }

    .align-content-xl-center {
        align-content: center !important;
    }

    .align-content-xl-between {
        align-content: space-between !important;
    }

    .align-content-xl-around {
        align-content: space-around !important;
    }

    .align-content-xl-stretch {
        align-content: stretch !important;
    }

    .align-self-xl-auto {
        align-self: auto !important;
    }

    .align-self-xl-start {
        align-self: flex-start !important;
    }

    .align-self-xl-end {
        align-self: flex-end !important;
    }

    .align-self-xl-center {
        align-self: center !important;
    }

    .align-self-xl-baseline {
        align-self: baseline !important;
    }

    .align-self-xl-stretch {
        align-self: stretch !important;
    }
}

/** ABOUT SECTION **/
.about-description .container .video-wrap video {
    width: 100%;
    position: relative;
}

.about-description .container .vision-col .content-section {
    margin-top: 30px;
}

.about-description .container .mission-col .content-section {
    margin-bottom: 30px;
}

.about-description .container .content-row {
    margin-top: 30px;
}

.about-description .container .content-row .txt-title {
    font-size: 40px;
}

#cta {
    padding-bottom: 80px;
    padding-top: 0;
}

#cta footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.cta-title {
    font-family: "Avenir-Regular", sans-serif;
    font-size: 35px;
}

.cta-tagline {
    margin-top: 20px;
    font-size: 30px;
    text-transform: capitalize;
    font-family: "Avenir-Bold", sans-serif;
}

#cta .btn.btn-normal {
    border:2px solid #1e1e38;
    color: #1e1e38;
    text-transform: uppercase;
    transition: all 0.3s;
    margin-top: 80px;
}

#cta .btn.btn-normal:hover {
    border:1px solid white;
    background: #1e1e38;
    color: white;
}

#cta .text-col {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
}

footer {
    padding: 30px 0;
    background: #1e1e38;
}

footer .container * {
    color:white;
}

footer .container .footer-col-title {
    margin-bottom: 10px;
    font-family: "Avenir-Demi", sans-serif;
    text-transform: capitalize;
}

footer .container .footer-col-content {
    font-family: "Lato-Regular", sans-seif;
    font-size: 16px;
    text-transform: capitalize;
}

footer .footer-social-links {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

footer .footer-social-links li {
    margin-right: 10px;
}

footer .footer-social-links li a{
    font-size: 40px;
    font-weight: 100;
}

.projects .page-banner {
    background: #2B3349;
}

.projects .projects-description {
    padding-bottom: 80px;
}

.projects .projects-description .content-row {
    margin-top: 30px;
}


.projects-description .owl-carousel .project-image-col img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 0 auto;
}

.projects-description .owl-carousel .project-content-col {
    padding-right: 50px;
}

.projects-description .owl-carousel .project-content-col p {
    margin-bottom: 20px;
    text-align: center;
}

.projects-description .owl-carousel {
    position: relative;
}

.projects-description .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.projects-description .owl-carousel .owl-nav .owl-prev,
.projects-description .owl-carousel .owl-nav .owl-next {
    position: absolute;
    padding: 10px;
    background: #1e1e38;
    transition: all 0.5s;
}

.projects-description .owl-carousel .owl-nav .owl-prev {
    left: -40px;
}

.projects-description .owl-carousel .owl-nav .owl-next {
    right: -40px;
}

.projects-description .owl-carousel .owl-nav .owl-prev img,
.projects-description .owl-carousel .owl-nav .owl-next img {
    display: block;
}

.projects-description .owl-carousel .owl-nav .owl-prev.disabled,
.projects-description .owl-carousel .owl-nav .owl-next.disabled {
    opacity: 0.6;
    cursor: auto;
}

.services .page-banner {
    background: #CE3F42;
}

.it-solutions .page-banner {
    background: #006ebb !important;
}


.services-description {
    padding-bottom: 80px;
}

.services-description .content-row p {
    margin-bottom: 20px;
}

.services-description .services-single .service-title {
    font-family: "Avenir-Demi", sans-serif;
    margin-bottom: 10px;
}

.solutions-description {
    padding-bottom: 80px;
}

.solutions-description .services-single {
    margin-top: 30px;
}

.solutions-description .services-single .service-title {
    font-family: "Avenir-Demi", sans-serif;
    margin-bottom: 10px;
}

.page-banner, .page-banner .container {
    position: relative;
}


.contact-us .page-banner {
    background: #1e1e38;
    min-height: 100vh;
}

/* .contact-us .page-banner .form-container {
    position: absolute; 
    width: 1170px;
    top: 50%;
    transform: translateY(-50%);
} */

.contact-us .page-banner .form-container .form-control {
    margin-bottom: 30px;
}

.contact-us .page-banner .form-container .form-control input,
.contact-us .page-banner .form-container .form-control select,
.contact-us .page-banner .form-container .form-control textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    resize: none;
    background: none;
    border:none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    outline-style: none;
    color: white;
    font-size: 15px;
    font-family: "Avenir-Regular", sans-serif;
    padding-left: 0;
}

.contact-us .page-banner .form-container .form-control textarea {
    overflow: hidden;
}
.contact-us .page-banner .form-control select option {
    font-size: 17px;
    color: gray;
}

.contact-us .page-banner .form-submit button {
    border:1px solid #66b8d3 !important;
    display: block;
    width: 100%;
    padding: 15px;
    background: #66b8d3;   
    color: white;
    font-family: "Avenir-Regular", sans-serif;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.contact-us .page-banner .form-submit button:hover {
    border:1px solid #1e1e38 !important;
    background: white;
    color: #1e1e38;
    }


.contact-us .page-banner .form-container .form-control label {
    display: block;
    color: white;
    font-size: 23px;
    font-family: "Avenir-Bold", sans-serif
    ;
    margin-bottom: 20px;
}



footer .row > div:last-child {
    text-align: left;
}

footer .row > div:last-child ul {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
    .services-description .services-single .service-title {
        font-size: 12px;
    }
    .contact-us .page-banner .form-container {
        width: 100%;
        position: relative;
        top: auto;
        transform: none;
        padding-top: 150px;
    } 
    
    /* .Hero__video {        
        position: absolute;
        bottom: 0;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    } */

    .about-description .content-row .col-sm-1, .about-description .content-row .col-sm-2 {
        display:none;
    }

    .about-description .content-row .col-sm-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(max-width:1024px) and (min-width: 769px) {
}

@media(max-width: 768px) {
    .contact-us .cta-section {  
        padding-top: 80px !important;
    }
    footer {
        padding-bottom: 30px !important;
        position: relative !important;
    }
    footer .row > div {
        margin-bottom: 30px;
    }

    footer .row > div:last-child {
        margin-bottom: 0;
    }
    
    footer .spacer {
        display:none;
    }
    .txt-title {
        margin-bottom: 30px;
    }

    .about-us .page-banner {
        min-height: 50vh !important;
    }
    .banner-txt-title span,
    .banner-txt-content,
    .btn-light,
    .btn-dark,
    .btn-read-more,
    .txt-title,
    .txt-content {
        opacity: 1;
    }

    .about-description .content-row .col-sm-1 {
        display: none;
    }

     nav.overlay-menu .overlay-col .col-title {
        font-size: 17px;
    }
    .overlay ul {
        margin-top: 0px;
    }
    nav.overlay-menu {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-items: stretch;
        -moz-align-items: stretch;
        -ms-align-items: stretch;
        -o-align-items: stretch;
        align-items: stretch;
    } 
    nav.overlay-menu .overlay-col {
        flex: 0 0 50%;
        margin-top: 30px;
    }
    nav.overlay-menu .overlay-col ul li a {
        font-size: 15px;
    }
     nav.overlay-menu .overlay-col .col-title {
        font-size: 17px;
    }
    #cta {
        padding-bottom: 0;
    }
    .contact-us .page-banner  {
        padding-top: 100px !important;
    }
    .contact-us .page-banner .container {
        padding-bottom: 50px;
    }
    #cta .container {
        margin-bottom: 50px;
    }

    .overlay ul {
        margin-top: 0px;
    }
    nav.overlay-menu {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-items: stretch;
        -moz-align-items: stretch;
        -ms-align-items: stretch;
        -o-align-items: stretch;
        align-items: stretch;
    } 
    nav.overlay-menu .overlay-col {
        flex: 0 0 50%;
        margin-top: 30px;
    }
    nav.overlay-menu .overlay-col ul li a {
        font-size: 15px;
    }
    .inner-page .page-banner {
        height: auto;
        padding-top: 150px;
        /* min-height: auto; */
    }
    /* .banner-video {
        width: 75%;
    } */

    .txt-title {
        font-size: 28px;
        line-height: normal;
    }

    .about-description .container .content-row .txt-title {
        font-size: 28px;
        line-height: normal;
    }

    .cta-title {
        font-size: 25px;
    }

    footer .container .col-sm-1 {
        display: none;
    }
    footer .container .row > div {
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }

    .projects-description .owl-carousel .owl-nav .owl-prev {
        left: 0;
    }

    .projects-description .owl-carousel .owl-nav .owl-next {
        right: 0;
    }

    .project-image-col {
        max-width: 40%;
        flex: 0 0 40%;
    }
    .project-content-col {
        max-width: 60%;
        flex: 0 0 60%;
    }

    .project-content-col p {
        text-align: left !important;
    }

    .services-single {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 20px;
    }

    .vision-col, .mission-col {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .vision-col + div {
        display: none;
    }
    .services .page-banner {
        min-height: 90vh;
    }

    .projects-description .owl-carousel .item {
        padding-left: 40px;
        padding-right: 40px;
    }
    footer .container .spacer {
        display: none;
    }

    .page-banner h1 {
        position: relative;
        top: 0;
        margin-bottom: 50px;
    }
}


@media(max-width: 640px) {

    /* .about-us .page-banner h1 {
        top: 90px !important;
    } */
    .about-description .container .content-row {
        margin-top: 0;
    }

    .video-wrap {
        margin-top:20px !important;
    }
    .about-description .container .content-row .txt-title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .about-description .content-row .col-sm-4 {
        flex: 0 0 100%;
        max-width: 100%;
    } 
    .fc-anchor {
        font-size: 12px;
    }
    .projects-description .owl-carousel .item {
        padding-left: 0px;
        padding-right:0px;
    }
    .services .page-banner {
        min-height: auto;
    }
    nav.overlay-menu .overlay-col {
        flex: 0 0 100%;
    }
    nav.overlay-menu .overlay-col .col-title {
        margin-bottom: 10px;
    }
    nav.overlay-menu {
        padding-bottom: 30px;
    }
    .overlay.open {
        overflow: scroll;
    }
    .logo-section a {
        width: 50px;
    }
    /* .banner-video {
        width: 85%;
    } */
    header {
        padding-top: 10px;
    }
    .txt-title {
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
    section {
        padding-top: 40px;
    }
    .page-banner {
        padding-top: 350px;
        height: auto !important;
    }
 

    footer .container .row>div {
        max-width: 100%;
        flex: 0 0 100%;
    }
/* 
    .inner-page .page-banner h1 {
        top: 300px;
    } */

    .vision-col, .mission-col {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .vision-col {
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .vision-col .video-wrap {
        order: 1;
    }

    .vision-col .content-section {
        order: 0;
        margin-bottom: 20px;
    }

    .vision-col + div {
        display: none;
    }
    #cta .btn.btn-normal {
        margin-top: 30px;
    }

    #cta .text-col {
        margin-bottom: 30px;
    }

    .services-single {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .services-description {
        padding-bottom: 40px;
    }

    .services-single .service-img img {
        width: 100%;
        height: auto;
    }
    .project-image-col, .project-content-col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .project-image-col img {
        width: 100%;
        height: auto;
    }

    .project-content-col {
        margin-top: 30px;
        padding:0 60px;
    }

    .projects .projects-description {
        padding-bottom: 40px;
    }

    .projects-description .owl-carousel .project-image-col img {
        width: 100%;
        height: auto;
    }
    .contact-us .page-banner .form-container .form-control label {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .contact-us .page-banner {
        padding-top: 160px;
        padding-bottom: 60px;
    }
    /* .page-banner h1 {
        top: 300px !important;
    } */
    .contact-us .page-banner .form-container {
        width: 100%;
        position: relative;
        top: auto;
        transform: none;
        padding-top: 0px;
    } 
    footer .container .row > div{
        margin-top: 30px;
    }

    footer .footer-col-title {
        margin-bottom: 5px !important;
    }
    .cta-title {
        font-size: 20px;
    }
    .cta-tagline {
        font-size: 24px;
        margin-top: 10px;
    }

    header {
        height: 100px;
    }

    .contact-us .page-banner {
        padding-top: 250px !important;
    }
     nav.overlay-menu .overlay-col {
        flex: 0 0 100%;
    }
    nav.overlay-menu .overlay-col .col-title {
        margin-bottom: 10px;
    }
    nav.overlay-menu {
        padding-bottom: 30px;
        padding-top: 100px;
        margin-top: 100px;
    }
    .overlay.open {
        overflow: scroll;
    }
    
}

/* @media(max-width: 480px) {
    .page-banner h1 {
        top: 150px !important;
    }
    .inner-page .page-banner {
        padding-top: 250px;
    }
} */




.Hero__video img {
    max-width: 100%
}

.Hero__video--90 {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 63%;
    /* position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); */
}
/* .Hero__video--90 video {
    max-height: 600px;
} */

.Hero__video--loaded {
    height: auto;
    padding-bottom: 0
}

.Home__hero__video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    overflow: hidden
}

.Home__hero__video img,.Home__hero__video video {
    max-width: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 140%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    
}


.error {
    color: red;
    display: inline-block;
    margin-top: 5px;
    font-size: 13px;
}


/** CHANGES :: 31-10-18 **/

@media(min-width: 769px) {
    .about-us .page-banner .Hero__video {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .page-banner + section {
        height: 100vh;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        background: #efefef;
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
    }

    .page-banner + section .container, .page-banner + section + section .container {
        height: auto;
    }

    .page-banner + section + section {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        height: 100vh;
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
    }

    .inner-page header {
        background: rgba(0,0,0,0.5);
        /* position: fixed; */
    }
    .page-title-section {
        display:block !important;
    }

    .page-banner h1 {
        display: none !important;
    }
}

.page-title-section {
    display:none;
}

.page-banner h1 {
    display: block;
}

video::-webkit-media-controls {
    display: none;
    -webkit-appearance: none;
}

/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

@media(min-width: 769px) {
    .contact-us .page-banner .container {
        padding-top: 200px;
    }
}

@media(max-width: 480px) {
    .about-us .page-banner, .it-solutions .page-banner, .services .page-banner, .projects .page-banner {
        min-height: 100vh !important;
        position: relative !important;
    }
    .about-us .page-banner .container,
    .it-solutions .page-banner .container,
    .services .page-banner .container,
    .projects .page-banner .container {
        position: unset !important;
    }


    .about-us .page-banner .container .Hero__video,
    .it-solutions .page-banner .container .Hero__video,
    .services .page-banner .container .Hero__video,
    .projects .page-banner .container .Hero__video {
        position: absolute !important;
        bottom: 50px !important;
    }
}