
/************************ Media ***********************/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
	.container {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.overlay nav {
		font-size: 20px;
	}

	.overlay ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: inline-block;
		position: relative;
		height: 100%;
		top: 20%;
	}

	.overlay ul li {
		height: 55px;
	}

	.hidden-res {
		display: none;
	}

	.visible-res {
		display: block;
	}

	.banner-text {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 0;
	}

	.txt-title {
		font-size: 35px;
		line-height: 30px;
	}
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}
