/************************ Reset ***********************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body,
html {
	height: 100%;
	font-family: "Lato Regular";
}

a {
	-webkit-text-decoration: none;
	-moz-text-decoration: none;
	-ms-text-decoration: none;
	-o-text-decoration: none;
	text-decoration: none;
}

li {
	-webkit-list-style-type: none;
	-moz-list-style-type: none;
	-ms-list-style-type: none;
	-o-list-style-type: none;
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
}

/************************ Helpers ***********************/

.border-red {
	border: 1px solid red;
}

.border-green {
	border: 1px solid green;
}

.border-blue {
	border: 1px solid blue;
}

/************************ Font Imports ***********************/

@font-face {
	font-family: 'Avenir-Bold';
	src: url('../fonts/Avenir-Bold.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/Avenir-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Avenir-Bold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Avenir-Bold.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/Avenir-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Avenir-Bold.svg#Avenir-Bold') format('svg');
	/* Legacy iOS */
}

@font-face {
	font-family: 'Lato-Regular';
	src: url('../fonts/Lato-Regular.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Lato-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Lato-Regular.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/Lato-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
	/* Legacy iOS */
}

@font-face {
	font-family: 'Lato-Bold';
	src: url('../fonts/Lato-Bold.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Lato-Bold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Lato-Bold.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/Lato-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
	/* Legacy iOS */
}

/************************ Font Sizes & Colors***********************/

.f-45 {
	font-size: 45px;
}

.f-30 {
	font-size: 30px;
}

.f-25 {
	font-size: 25px;
}

.f-20 {
	font-size: 20px;
}

.f-24 {
	font-size: 24px;
}

.f-18 {
	font-size: 18px;
}

.f-14 {
	font-size: 14px;
}

.f-010917 {
	color: #010917;
}

.f-f7931d {
	color: #f7931d;
}

.f-66b8d3 {
	color: #66b8d3;
}

.f-fff {
	color: #fff;
}

.f-000 {
	color: #000;
}

.f-02173f {
	color: #02173f;
}

.f-66b8d3 {
	color: #66b8d3;
}

.f-1e1e38 {
	color: #1e1e38;
}

/************************ Backgrounds ***********************/

.b-fff {
	background: #fff;
}

.b-f7931d {
	background: #f7931d;
}

.b-02173f {
	background: #02173f;
}

.b-25264c {
	background: #25264c;
}

.b-1e1e38 {
	background: #1e1e38;
}

.b-66b8d3 {
	background: #66b8d3;
}

.b-fbfbfb {
	background: #fbfbfb;
}

/************************ JS Triggers ***********************/

.display {
	visibility: visible;
	opacity: 1;
}

.blur {
	filter: blur(2px);
}

.ip-active {
	top: -18px !important;
	font-size: 14px !important;
	color: #636363 !important;
}

.reveal-text {
	position: relative;
	animation: reveal 0.8s linear;
}

.reveal-content {
	position: relative;
	animation: reveal_content 0.8s linear;
}

.design-animate {
	position: relative;
	animation: design_animate 0.5s linear;
}

.develop-animate {
	position: relative;
	animation: develop_animate 1s linear;
	animation-delay: 0.5s;
}

.deploy-animate {
	position: relative;
	animation: deploy_animate 1.5s linear;
	animation-delay: 1s;
}

/************************ Main Rules ***********************/

section {
	padding-top: 100px;
}

header {
	height: 80px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
	background: rgba(255, 255, 255, 0.9);
}

.container {
	width: 1170px;
	height: 100%;
	margin: 0 auto;
}

.f-container {
	width: 100%;
}

.txt-title {
	font-size: 65px;
	font-family: "Avenir-Bold";
	line-height: 67px;
	letter-spacing: 0.02em;
	opacity: 0;
	transition: all 1.2s;
}

.txt-content {
	font-size: 20px;
	font-family: "Lato-Regular";
	line-height: 28px;
	margin-top: -20px;
	opacity: 0;
}

.txt-content p:not(:first-child) {
	margin-top: 25px;
}

.btn {
	border: 1px solid white;
	margin-top: 20px;
	display: block;
	font-family: "Lato-Regular";
	font-size: 16px;
	width: 160px;
	height: 42px;
	text-align: center;
	vertical-align: middle;
	padding: 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.btn-light {
	background-image: url(../img/strip-light.png);
	background-position: 55%;
	transition: all 0.7s;
	opacity: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.btn-light:hover {
	background-position: 4%;
	color: #010917;
}

.btn-dark {
	background-image: url(../img/strip-dark.png);
	background-position: 55%;
	transition: all 0.7s;
	opacity: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.btn-dark:hover {
	background-position: 4%;
	color: #010917;
}

.hidden-res {
	display: block;
}

.visible-res {
	display: none;
}

#fullpage > * {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	transform: translateZ(0);
}

/************************ Top ***********************/

#section0 {
	background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(17, 18, 53) 0%, rgb(28, 30, 71) 0%, rgb(13, 11, 15) 309%);
	background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(17, 18, 53) 0%, rgb(28, 30, 71) 0%, rgb(13, 11, 15) 309%);
	background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(17, 18, 53) 0%, rgb(28, 30, 71) 0%, rgb(13, 11, 15) 309%);
	background-repeat: repeat;
	position: relative;
}

header .container {
	overflow: hidden;
	position: relative;
}

.logo-section {
	width: 30%;
	float: left;
	height: 100%;
	vertical-align: middle;
	position: relative;
}

#section0 .fp-tableCell {
    position: absolute;
}

.logo-section a {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.fc-anchor {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	font-family: "Lato-Bold";
	font-size: 15px;
	letter-spacing: 0.1em;
	padding-right: 30px;
	margin-right: 30px;
	border-right: 1px solid #1e1e38;
}

.fc-anchor img {
	margin-right: 10px;
	-webkit-animation: gear_rotate 2s linear infinite;
	-o-animation: gear_rotate 2s linear infinite;
	animation: gear_rotate 2s linear infinite;
}

.fc-anchor:hover span {
	-webkit-animation: bulb_blink 2s linear infinite;
	-o-animation: bulb_blink 2s linear infinite;
	animation: bulb_blink 2s linear infinite;
}

.nav-section {
	width: 30%;
	float: right;
	height: 100%;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	-o-justify-content: flex-end;
	justify-content: flex-end;
}


.social-section a {
	display: inline-block;
	margin-right: 15px;
}

.social-section a:last-child {
	margin-right: 0;
}

.social-icon a {
	border: 2px solid #1e1e38;
	height: 50px;
	width: 50px;
	position: relative;
	transition: all 0.3s;
	font-size: 20px;
	border-radius: 50%;
}

.social-icon a:hover {
	background: #1e1e38;
	color: #fff;
}

.social-icon a i {
	position: absolute;
	top: 49%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.hamburger-menu {
	height: 50px;
	cursor: pointer;
	right: 0;
	z-index: 10000;
}

.overlay {
	position: fixed;
	background: rgba(132, 200, 219, 0.9);
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .55s, visibility .55s, height .05s;
	overflow: hidden;
}

.overlay.open {
	opacity: 1;
	visibility: visible;
	height: 100%;
}

.overlay.open li {
	animation: fadeInRight .5s ease forwards;
	animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
	animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
	animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
	animation-delay: .50s;
}

.overlay nav {
	position: relative;
	height: 70%;
	top: 50%;
	transform: translateY(-50%);
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;
	margin-top: 50px;
}

.overlay ul li {
	display: block;
	height: 80px;
	position: relative;
	opacity: 0;
	font-size: 35px;
}

.overlay ul li a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	overflow: hidden;
	font-family: "Lato-Regular";
	padding-bottom: 5px;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
	width: 100%;
}

.overlay ul li a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	transform: translateX(-50%);
	height: 3px;
	background: #1e1e38;
	transition: .35s;
}

.bar,
.bar:after,
.bar:before {
	width: 35px;
	height: 3px;
}

.bar {
	position: relative;
	transform: translateY(25px);
	background: #010917;
	transition: all 0ms 300ms;
}

.bar.animate {
	background: rgba(255, 255, 255, 0);
}

.bar:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 10px;
	background: #010917;
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	background: #010917;
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.banner-text {
	width: 74%;
	padding-top: 120px;
}

.banner-txt-title {
	font-size: 45px;
	font-family: "Avenir-Bold";
	line-height: 67px;
	letter-spacing: 0.02em;
	transition: all 1.2s;
}

.banner-txt-title span {
	opacity: 0;
	display: inline-block;
}

.banner-txt-content {
	margin-top: -25px;
	padding-top: 7px;
}

.banner-animation {
	position: absolute;
    bottom: 0;
    width: 99%;
    left: 50%;
    transform: translateX(-50%);
}

#section0 .container {
	height: auto;
}

g.digit path {
	fill: #54c278;
}

/************************ Overview ***********************/

.x-content-wrap p {
	font-size: 18px;
}

.x-content a.btn {
	margin-top: 50px;
}

#overview {
	position: relative;
	overflow: hidden;
}

.x-anim {
	float: left;
	width: 35%;
	position: relative;
	height: 100vh;
}

.x-anim object {
	position: absolute;
	width: 75%;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s;
	opacity: 0;
}


.x-content {
	float: right;
	width: 100%;
	height: 100vh;
	border-bottom: 100vh solid #66b8d3;
	border-left: 200px solid transparent;
	border-right: 1px solid transparent;
	position: absolute;
}

.x-content-main-wrap {
	float: right;
	width:65%;
	position: absolute;
    right: 0;
	height: 100vh;
}

.x-content-wrap {
	width: 60%;
	position: absolute;
	top: 50%;
	left: 55%;
	transform:translate(-50%, -50%);
}

#section2 {
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;

}

/************************ Free Demo

#section3 .free-demo {
	  border-top: 100vh solid #1e1e38;
	border-left: 0px solid transparent;
	border-right: 750px solid transparent;
	width: 100vw;
}
***********************/



#section3 {
	overflow: hidden;
	position: relative;
}

#section3 .container {
	position: absolute;
	top: 0;
	left: 0;
}

#section3 .free-demo {
	height: 100vh;
	border-top: 100vh solid #1e1e38;
	border-left: 0px solid transparent;
	border-right: 750px solid transparent;
	width: 100vw;
}

.service-slider-title {
	width: 100%;
	text-align: center;
}

.service-slider-title .txt-content p {
	width: 67%;
	margin: 0 auto;
	text-align: left;
}

.services-slider {
	width: 50%;
	position: absolute;
	overflow: hidden;
	top: 53%;
	left: 34%;
	transform:translate(-50%, -50%);
}

.service-slider-main .owl-nav {
	width: 70%;
}

.service-item {
	width: 100%;
	height: 100%;
	text-align: center;
}

.service-item a {
	font-family: "Lato-Regular";
	display: block;
	margin-top: -20px;
}

.service-item a img {
	margin-left: 10px;
}

.service-item svg {
	max-width: 65%;
	height: auto;
	display: block;
	margin: 0px auto;
	position: relative;
	opacity: 0;
}

.owl-item.active object {
opacity: 1;
transition: .9s;
}

.service-slider-main .owl-prev:hover i,
.service-slider-main .owl-next:hover i {
	color: #66b8d3 !important;
}

.service-slider-main .owl-item {
	margin: 0 auto;
}

.service-slider-main .owl-prev i,
.service-slider-main .owl-next i {
	color: #fff;
	font-size: 30px;
}

.service-slider-main {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.service-slider-main .owl-prev,
.service-slider-main .owl-next {
	height: auto;
	width: auto;
	padding: 0 !important;
	margin: 0 !important;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	border: none;
}

.service-slider-main .owl-prev {
	left: 0;
}

.service-slider-main .owl-next {
	right: 0;
}

.service-slide-title {
	width: 85%;
	margin: 0 auto;
	text-align: center;
	padding: 0 20px;
	pointer-events: none;
	margin-top: 10px;
}


/*** NEW SLIDER STYLES ***/
/*
.demo-wrap {
	width:60%;
	position: relative;
	border: 1px solid red;
}

.slider-wrap {
	position: absolute;
	top: 0;
	left: 0;
	border:1px solid green;
	overflow:hidden;
	width:100%;
}
.owl-item {
	width: 100% !important;
} 

.service-item {
	display: block;
	max-width: 60%;
	margin: 0 auto;
}
*/

/*** NEW SLIDER STYLES END ***/
.newsletter {
	position: absolute;
	bottom: 20px;
	right: 0px;
	float: right;
	width: 35%;
}

#item-1 svg path {
	stroke: none;
}

/*
#item-1, #item-2, #item-3, #item-4, #item-5 {
	opacity: 0;
}
*/

.newsletter .txt-content p {
	width: 70%;
}

.newsletter_form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	margin-top: 20px;
}

.newsletter_form input[type="text"] {
	border: 1px solid #2e2f54;
	padding: 15px;
	width: 320px;
	height: 45px;
	background: #66b8d3;
	padding-left: 10px;
}

.newsletter_form input[type="text"] ::placeholder {
	color: #1e1e38;
	opacity: 1;
	/* Firefox */
}

.newsletter_form input[type="text"] :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #1e1e38;
}

.newsletter_form input[type="text"] ::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #1e1e38;
}

.newsletter_form button[type="submit"] {
	background: none;
	border: 1px solid #2e2f54;
	height: 45px;
	padding: 0 15px;
	border-left: none;
	border-bottom: 1px solid #2e2f54;
}

.newsletter_form button[type="submit"] i {
	font-size: 20px;
	color: #2e2f54;
}

.nwsltr-ip {
	position: relative;
	font-size: 14px;
	font-family: "Lato-Regular";
	transition: all 0.3s;
	outline-style: none;
}

input.nwsltr-ip:focus {
	border-bottom: 2px solid #2e2f54;
}

.nwsltr-btn {
	overflow: hidden;
}

.nwsltr-btn i {
	position: relative;
	transition: all 0.3s;
}

.nwsltr-btn:hover i {
	transform: translateX(60px);
}

.phone-anim {
	position: absolute;
	top: 50%;
	left: 47.5%;
	transform: translateX(-50%) translateY(-50%);
	width: 32%;
	height: 54%;
}

/************************ Projects ***********************/

#particle-js {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.projects-content {
	width: 0;
	height: 0;
	border-style: solid;
	border-width:60vh 0 0 120vw;
	border-color: transparent transparent transparent #66b8d3;
	position: absolute;
	bottom: 0;
	
}


.projects-content .container {
	position: relative;
    margin-left: -1529px;
    margin-top: -227px;
}

.projects-content-wrap {
	position: absolute;
	top: 62%;
}

.projects-content-wrap p {
	width: 45%;
	padding-top: 10px;
}

.project-mockup {
	float: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	overflow: hidden;
}

.mockup-slider {
	z-index: 10000;
	position: absolute;
	right: 10%;
	width: 530px;
	overflow: hidden;
	bottom: 50px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.mockup-slider img {
	max-width: 85%;
	height: auto;
}

.owl-stage {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
}

.owl-nav {
	text-align: right;
}

.owl-prev,
.owl-next {
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid #1e1e38;
	margin-right: 10px;
	position: relative;
	cursor: pointer;
	transition: all 0.3s;
	background: none !important;
}

.mockup-slider .owl-prev:hover,
.mockup-slider .owl-next:hover {
	background: #1e1e38 !important;
}

.owl-prev:hover i,
.owl-next:hover i {
	color: #fff !important;
}

.mockup-slider .owl-prev i,
.mockup-slider .owl-next i {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #1e1e38;
	transform: translate(-50%, -50%);
	font-size: 35px;
}

/************************ Get In Touch ***********************/

.form-section {
	float: left;
	padding-top: 120px;
	width: 50%;
}

.form-section form {
	margin-top: 30px;
}

.svg-patch-container {
	position: absolute;
    right: 0;
    width: 50%;
	height: 100%;
}

.svg-patch {
	border-bottom: 100vh solid #1e1e38;
	border-left: 200px solid transparent;
	border-right: 0px solid transparent;
	width: 100%;
	float: right;
	position: absolute;
	right: 0;
}

#contact-svg {
	max-width: 60%;
	position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
    padding-top: 100px;
	opacity: 0;
}


.ip-ctrls {
	display: block;
	width: 400px;
	height: 40px;
	border: none;
	border-bottom: 1px solid #565b64;
	font-family: "Lato-Regular";
	font-size: 16px;
	color: #010917;
	padding-left: 8px;
	outline-style: none;
	margin-bottom: 10px;
	transition: all 0.6s;
}

.ip-ctrls:focus {
	border-bottom: 2px solid #565b64;
}

.ip-ctrls.txtarea {
	height: 60px;
	max-height: 100px;
	max-width: 400px;
}

#section4 .btn-dark {
	opacity: 1;
}

.button_submit {
	background-image: url(../img/strip-dark.png) !important;
	background-position: 55% !important;
	transition: all 0.7s !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	display: block !important;
	border: 1px solid white !important;
	margin-top: 20px !important;
	display: block !important;
	font-family: "Lato-Regular" !important;
	font-size: 16px !important;
	width: 160px !important;
	height: 42px !important;
	text-align: center !important;
	vertical-align: middle !important;
	padding: 8px !important;
	color: #fff !important;
	cursor: pointer !important;
}

.button_submit:hover {
	background-position: 4% !important;
	color: #010917 !important;
}

.nl-form input {
	font-size: 16px !important;
	outline-style: none;
}

.nl-form div {
	letter-spacing: 0.02em;
	margin-top: 5px;
	font-family: "Lato-Regular";
	font-size: 18px;
	color: #fff;
}

.nl-form * {
	outline-style: none;
}

.nl-form textarea {
	background: transparent;
	border: 1px solid #1e1e38;
	margin-top: 20px;
	padding: 10px;
	max-height: 100px;
	max-width: 100%;
	color: #1e1e38;
	font-family: "Lato-Regular";
}

.nl-form textarea::placeholder {
	color: #1e1e38;
}

.nl-form textarea::placeholder {
	color: #1e1e38;
	opacity: 1;
	/* Firefox */
}

.nl-form textarea:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #1e1e38;
}

.nl-form textarea::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #1e1e38;
}

.ip-grp {
	position: relative;
	margin: 15px 0;
}

.nl-form ::placeholder {
	color: #66b8d3;
	opacity: 1;
	/* Firefox */
}

.nl-form :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #66b8d3;
}

.nl-form ::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #66b8d3;
}

/************************ Keyframes ***********************/

@keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}

@keyframes reveal {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes reveal_content {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@-webkit-keyframes animate {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 500px 0;
	}
}

@-moz-keyframes animate {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 500px 0;
	}
}

@-ms-keyframes animate {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 500px 0;
	}
}

@-o-keyframes animate {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 500px 0;
	}
}

@keyframes animate {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 500px 0;
	}
}



/** Banner Animation Keyframes **/

@-webkit-keyframes digit_blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes digit_blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes digit_blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes digit_blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes bulb_blink {
	0% {
		opacity: 1;
		stroke: #fff;
	}
	50% {
		opacity: 0;
		stroke: #fff;
	}
	100% {
		opacity: 1;
		stroke: #fff;
	}
}

@-o-keyframes bulb_blink {
	0% {
		opacity: 1;
		stroke: #fff;
	}
	50% {
		opacity: 0;
		stroke: #fff;
	}
	100% {
		opacity: 1;
		stroke: #fff;
	}
}

@-moz-keyframes bulb_blink {
	0% {
		opacity: 1;
		stroke: #fff;
	}
	50% {
		opacity: 0;
		stroke: #fff;
	}
	100% {
		opacity: 1;
		stroke: #fff;
	}
}

@keyframes bulb_blink {
	0% {
		opacity: 1;
		stroke: #fff;
	}
	50% {
		opacity: 0;
		stroke: #fff;
	}
	100% {
		opacity: 1;
		stroke: #fff;
	}
}


@-webkit-keyframes gear_rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-o-keyframes gear_rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-moz-keyframes gear_rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes gear_rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


@-webkit-keyframes gear_rotate_2 {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@-o-keyframes gear_rotate_2 {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@-moz-keyframes gear_rotate_2 {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes gear_rotate_2 {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@-webkit-keyframes liquid_move {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@-o-keyframes liquid_move {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@-moz-keyframes liquid_move {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes liquid_move {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}


@-webkit-keyframes bug_move {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(25px);
	}
	100% {
		transform: translateY(0);
	}
}

@-o-keyframes bug_move {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(25px);
	}
	100% {
		transform: translateY(0);
	}
}

@-moz-keyframes bug_move {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(25px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes bug_move {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(25px);
	}
	100% {
		transform: translateY(0);
	}
}


@keyframes search_bar {
	0% {
		transform: scaleX(0);
	}
	50% {
		transform: scaleX(1.5);
	}
	100% {
		transform: scaleX(0);
	}
}

@keyframes magnify {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(0.9);
	}
}

@keyframes crane_string_move {
	0% {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(2.2);
	}
	100% {
		transform: scaleY(1);
	}
}

@keyframes crane_move {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(40px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes clock_tick {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes design_animate {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes develop_animate {
	from {
		opacity: 0;
		transform: translateY(-40px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes deploy_animate {
	from {
		opacity: 0;
		transform: translateY(-60px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.hGcTAiiX_50 {
	-webkit-transform-origin: 203px 121px;
	-moz-transform-origin: 203px 121px;
	-ms-transform-origin: 203px 121px;
	-o-transform-origin: 203px 121px;
	transform-origin: 203px 121px;
}


.hGcTAiiX_99 {
	-webkit-transform-origin: 338px 196px;
	-moz-transform-origin: 338px 196px;
	-ms-transform-origin: 338px 196px;
	-o-transform-origin: 338px 196px;
	transform-origin: 338px 196px;
}

.hGcTAiiX_136 {
	-webkit-transform-origin: 550px 398px;
	-moz-transform-origin: 550px 398px;
	-ms-transform-origin: 550px 398px;
	-o-transform-origin: 550px 398px;
	transform-origin: 550px 398px;
}

.hGcTAiiX_122 {
	-webkit-transform-origin: 444px 275px;
	-moz-transform-origin: 444px 275px;
	-ms-transform-origin: 444px 275px;
	-o-transform-origin: 444px 275px;
	transform-origin: 444px 275px;
}

.hGcTAiiX_212 {
	-webkit-transform-origin: 750px 130px;
	-moz-transform-origin: 750px 130px;
	-ms-transform-origin: 750px 130px;
	-o-transform-origin: 750px 130px;
	transform-origin: 750px 130px;
}

.hGcTAiiX_237 {
	-webkit-transform-origin: 956px 281px;
	-moz-transform-origin: 956px 281px;
	-ms-transform-origin: 956px 281px;
	-o-transform-origin: 956px 281px;
	transform-origin: 956px 281px;
}


.card {
	-webkit-animation: crane_move 4s linear 20s infinite;
	-o-animation: crane_move 4s linear 20s infinite;
	animation: crane_move 4s linear 20s infinite;
}

.bug {
	-webkit-animation: bug_move 5s linear 20s infinite;
	-o-animation: bug_move 5s linear 20s infinite;
	animation: bug_move 5s linear 20s infinite;
}

.digit {
	-webkit-animation: digit_blink 0.8s linear 20s infinite;
	-o-animation: digit_blink 0.8s linear 20s infinite;
	animation: digit_blink 0.8s linear 20s infinite;
}

.retina-main {
	-webkit-animation: gear_rotate 2.5s linear 20s infinite;
	-o-animation: gear_rotate 2.5s linear 20s infinite;
	animation: gear_rotate 2.5s linear 20s infinite;
	-webkit-transform-origin: 1272px 334px;
	-moz-transform-origin: 1272px 334px;
	-ms-transform-origin: 1272px 334px;
	-o-transform-origin: 1272px 334px;
	transform-origin: 1272px 334px;
}

.retina-line {
	-webkit-animation: gear_rotate_2 2.5s linear 20s infinite;
	-o-animation: gear_rotate_2 2.5s linear 20s infinite;
	animation: gear_rotate_2 2.5s linear 20s infinite;
	-webkit-transform-origin: 1272px;
	-moz-transform-origin: 1272px 334px;
	-ms-transform-origin: 1272px 334px;
	-o-transform-origin: 1272px 334px;
	transform-origin: 1272px 334px;
}



/*** About Page Styles ***/

.about-banner {
	background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(17, 18, 53) 0%, rgb(28, 30, 71) 0%, rgb(13, 11, 15) 309%);
	background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(17, 18, 53) 0%, rgb(28, 30, 71) 0%, rgb(13, 11, 15) 309%);
	background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(17, 18, 53) 0%, rgb(28, 30, 71) 0%, rgb(13, 11, 15) 309%);
	height: 100vh;
}

.about-banner svg {
	display: block;
	width: 60%;
	margin: 0 auto;
}

.about-mission {
	overflow: hidden;
	height: 100%
}

.mission-left {
	width: 50%;
	float: left;
	padding: 60px;
}

.mission-right {
	float: right;
	padding: 60px;
	width: 50%;
}





/************************ Media ***********************/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
	.container {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.overlay nav {
		font-size: 20px;
	}

	.overlay ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: inline-block;
		position: relative;
		height: 100%;
		top: 20%;
	}

	.overlay ul li {
		height: 55px;
	}

	.hidden-res {
		display: none;
	}

	.visible-res {
		display: block;
	}

	.banner-text {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 0;
	}

	.txt-title {
		font-size: 35px;
		line-height: 30px;
	}
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}
